<div class="card">
  <div class="card-header">
      Details of {{product.name}}
  </div>
  <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th>Product Id</th>
            <td>{{product.id}}</td>
          </tr>
          <tr>
            <th>Product name</th>
            <td>{{product.name}}</td>
          </tr>
          <tr>
            <th>Product Price</th>
            <td>{{product.price}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="card-footer text-muted">
      <a routerLink="/userproducts" class="btn btn-primary">Go Back</a>

  </div>
</div>




