<meta http-equiv="Content-Security-Policy" content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;">


<h3>Products List</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Product id</th>
      <th>Product Image</th>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Description</th>
      <th>Add To Cart</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList | filter:searchKey:'Product Name'">
      <td>{{product.id}}</td>
      <td><img width="200" [src]="'api/images/' + product.image"></td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>
        <a [routerLink]="['/product-detail', product.id]" class="btn btn-primary" >View detail</a>

      </td>
      <td>
        <a  class="btn btn-primary" (click)=addtocart(product) >Add to Cart</a>
      </td>

    </tr>
  </tbody>

</table>
