
<div class="container px-4 px-lg-5">

    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="api/images/Logo.gif" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Kitchen Story</h1>
            <p>Worlds best Kitchen's story starts from here...</p>
            <a  routerLink="/userproducts"class="btn btn-primary" href="#!">Explore</a>
        </div>
    </div>

    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0" style="font-size: xx-large ">Go ahead and taste the most delecious items we have!!!</p></div>
    </div>
