<!-- <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Butter chicken</h2>
                <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/butter.png" alt="..." />
        </div>

    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing eli</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Drums of Heaven</h2>
             <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/chick.png" alt="..." /></div>


                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Add to Cart</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Hakka Noodles</h2>
                <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/chow.png" alt="..." /></div>

                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>

<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Mutton Briyani</h2>
                <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/mutton.png" alt="..." />
        </div>

    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing eli</p>
            </div>

        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
    </div>
</div>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Butter chicken</h2>
                <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/butter.png" alt="..." />
        </div>

    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing eli</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>

    -->
